.table {
    border: 1px solid #eee;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 20px;
}

.table th {
    font-weight: bold;
    padding: 5px;
    background: #ffd300;
    border: 1px solid #dddddd;
    text-align: left;
    cursor: pointer;
}

.table td {
    padding: 5px 10px;
    border: 1px solid #eee;s
    text-align: left;
}

.table tbody tr:nth-child(odd) {
    background: #fff;
}

.table tbody tr:nth-child(even) {
    background: rgb(255, 211, 0, 0.2);
}

.pagination-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagination-numbers {
    display: flex;
    gap: 10px;
}

.paginate-item {
    cursor: pointer;
    border: 1px solid #D0D0D0;
    padding: 4px;
}

.active-btn {
    background-color: #ffd300;
}